# inventory-service/src/main/resources/application.yml
server:
  port: 8086

spring:
  application:
    name: inventory-service

  r2dbc:
    url: r2dbc:postgresql://localhost:5434/inventory_db
    username: postgres
    password: postgres

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

  kafka:
    bootstrap-servers: localhost:9092

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    com.ecommerce.inventory: DEBUG