# restaurant-service/src/test/resources/application-test.yml
spring:
  application:
    name: restaurant-service-test

  r2dbc:
    url: r2dbc:h2:mem:///testdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password:

  sql:
    init:
      mode: always
      schema-locations: classpath:schema-test.sql

  kafka:
    bootstrap-servers: localhost:9092
    listener:
      auto-startup: false
    admin:
      auto-create: false

  cloud:
    discovery:
      enabled: false

eureka:
  client:
    enabled: false

logging:
  level:
    root: WARN
    com.ecommerce: INFO
    org.springframework.r2dbc: DEBUG